.header{
    background: $dark-blue-1;
    


    &__title{
        color: white;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.5s ease;
        h1{
            margin: 0;
        }

        &:hover{
            transform: scale(1.1);
        }
    }

    &__content{
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: $s-size 0;
    }
}