.page-header{
    background: #f7f7f7;
    padding: $l-size;
    margin-bottom: $l-size;




    &__title{
        margin: 0;
        font-weight: 300;

        span{
            font-weight: bold;
        }

        @media(max-width:$desktop-breakpoint){
            font-size: 2.5rem;
        }
    }


    &__actions{
        margin-top: $m-size;
    }
}

