//colors

$off-black:#20222b;

$off-white:#a5afd7;

$blue:#3c4251;

$blue-light:#1c88bf;



$dark-blue:#333745;

$dark-blue-1:#364051;

$dark-grey:#333333;

$purple:#8357c5;

$off-light-white:#f7f7f7;

$off-dark-white:#f7f3f3;

$light-blue:#464b5e;

$grey:#666;
//sizes

$s-size:1.2rem;
$m-size:1.6rem;

$l-size:3.2rem;

$xl-size:4.8rem;


$font-size-large:1.8rem;

$desktop-breakpoint: 45rem;